DISCORD_API_TOKEN=

SPOTIFY_API_CLIENT_ID=
SPOTIFY_API_CLIENT_SECRET=

VOICE_COMMANDS_ENABLED=false
VOICE_MODEL_NAME=Systran/faster-whisper-small
VOICE_PREPROCESSOR_CONFIG_MODEL_NAME=openai/whisper-small
